
#front {
	display: block;
}

#back {
	display: none;
}

#doneButton {
	position: absolute;
	right: 20px;
	bottom: 20px;
} 

#license {
	position: absolute;
	left: 25px;
	bottom: 20px;
} 

.flip {
        position:absolute;
        bottom: 10px;
        right: 10px;
        width:13px;
        height:13px;
}

#flip {
        opacity:0;
        background:url(file:///System/Library/WidgetResources/ibutton/black_i.png) no-repeat left;
        z-index:8000;
}

#fliprollie {
        display:none;
        opacity:0.25;
        background: url(file:///System/Library/WidgetResources/ibutton/black_rollie.png) no-repeat top left;
        z-index:7999;
}

.score {
	font: small-caps bold 14px "Lucida Grande";
	color: #000;
}

.bginfo {
	font: small-caps 16px "Lucida Grande";
	color: #fff;
	background-color: #000;
	text-align: justify;
}

.bginfo td {
	font: small-caps 14px "Lucida Grande";
	color: #fff;
	background-color: #000;
	text-align: left;
	vertical-align: top;
	width: 80px;
	padding-top: 10px;
	padding-right: 5px;
}

.valid {
	border: 1px solid #000;
	background: #000 none no-repeat center center;
	width: 64px;
	height: 64px;
	text-align: left;
	color: #ffd432;
	font: 12px "Lucida Grande";
	font-weight: bold;
	vertical-align: top;	
}

.black {
	border: 1px solid #000;
	background: #000 none no-repeat center center;
	width: 64px;
	height: 64px;
	text-align: left;
	color: #8b8d92;
	font: 12px "Lucida Grande";
	font-weight: bold;
	vertical-align: top;
}

.white {
	border: 1px solid #000;
	width: 64px;
	height: 64px;
	text-align: left;
	color: #000;
	font: 12px "Lucida Grande";
	font-weight: bold;
	vertical-align: top;
	background: none no-repeat center center;
}

.knight {
	border: 1px solid #000;
	width: 64px;
	height: 64px;
	text-align: left;
	color: #000;
	font: 12px "Lucida Grande";
	font-weight: bold;
	vertical-align: top;
	background: url(knight.png) no-repeat center center;
}

